@import "./variable";
@import "./common";

table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table tr {
  background-color: $bg-seconday-color;
  border: 1px solid $border-grey;
}

table th,
table td {
  padding: 1rem;
  text-align: center;
}

table th {
  font-size: 1.6rem;
  text-transform: uppercase;
}

table td {
  background-color: $white;
  a {
    color: $theme;
  }
}

.actions-container {
  button:not(:last-child) {
    margin: 0 4px 4px 0;
  }
}

.no-record-found {
  text-align: center
}

@media screen and (max-width: 767px) {
  table {
    border: 0;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid $border-grey;
    display: block;
    margin-bottom: 1rem;
  }

  table td {
    border-bottom: 1px solid $border-grey;
    display: block;
    font-size: 1.2rem;
    text-align: right;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
