// colors
$theme: #236cff;
$white: #fff;
$black: #000;
$box-shadow: rgba(0, 0, 0, 0.25);
$overlay: rgba(0, 0, 0, 0.5);
$bg-seconday-color: #f1f5fb;
$border-grey: #d5dee4;
$lg-blue-bg-color: #f4fdfe;
$btn-secondary-bg: #808080;
$red-bg: #ff0000;
$red-text: #ef0909;
$light-red-bg: #ff6161;
$theme-light: #458eff;

// font
$body-font: "canada-type-gibson";
$font-weight-regular: 400;
$font-weight-semi-bold: 500;
$font-weight-bold: 700;

// z-index
$z-index-low: 2;
$z-index-mid: 3;
$z-index-high: 4;
